body {
    background-color: #383B3C;

}

* {
    color: white;
    font-family: 'Lemonada', cursive;
}

.imgSize {
    width: 100%;
}

.title-char {
    min-width: 40%;
}

.form-input-name,
.form-input-submit {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #717678;
    background: #717678;
    color: white;
}

.form-input-submit {
    background: #717678;
}

.firstDiv {
    display: flex;
    flex-flow: column;
}

.margin0auto {
    margin: 20px auto;
}

.infoPlaces {
    font-size: .7rem;
    background-color: #54585A;
    display: flex;
    justify-content: space-between;
    border-radius: .25rem;
    margin: .25rem;
    padding: .5rem;
    border: 1px solid #54585A;
}