
body{
    font-family: 'Josefin Sans', sans-serif;
    background: #222324;
    color: #fff;
}
.form-input-name,
.form-input-submit{
    font-family: 'Josefin Sans',sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
border: 0;
}
.firstDiv{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-content: center;
    align-items: center;
}
.heroImage{
    width: 200px;
    height: 300px;

}